<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="io.springbootstarter.dao.StudentDao">

	<select id="findStudentByName" parameterType="String" resultType="io.springbootstarter.bean.Student">
		Select * From Student Where name=#{name}
	</select>

</mapper>